html{
    overflow-x: hidden;

}body{
    margin: 0;
    font-family: 'Merriweather',serif;
}
div{
    background-color: #E4F9F5;

}
h1{
    margin-top: 0px;
    font-family: 'Sacramento',cursive;
    text-align: center;
    font-size: 65px;
}
a{
    color: #45b29a;
    font-size: 17px;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;  
}
a:hover{
    color: #1e836c;
}
h2{
    font-family: 'Montserrat',sans-serif;
}
h3{
    font-family: 'Montserrat',sans-serif;
}
p{
    text-align: center;
    font-size: 15px;
    padding-top: 0%;
}
hr{
    margin: 0%;
}
.pro{
    text-decoration: underline;
    display: inline-block;
}
.mountain{
    margin-left: 25%;
    padding-top: 400px;
}
.center{
    width:500px;
    position: absolute;
    top: 200px;
    left: 500px;
    color: #45b29a;
    
}
#topcloud{
    position:absolute;
    top: 200px;
    left: 1000px;
}
#bottomcloud{
    position: absolute;
    bottom: 330px;
    left: 350px;
}
.middle-container{
     padding-top: 40px;
     background-color: white;
}
.image{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    left: 625px;
}
.hello{
    position: relative;
    left: 725px;
    width: 70px;
    color: #45b29a;
}
.contentprofile{
    position: relative;
    left: 445px;
    width: 600px;
}
.profile{
   background-color: white;
}
.skills{
    background-color: white;
}
.skill-row{
    padding: 50px;
    background-color: white;
}
.pythoncontent{

}
#imagepython{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    left: 400px;
}
.centerinline{
    display: inline-block;
    position: absolute;
}
.myskills{
    width: 120px;
    position: relative;
    left: 700px;
    color: #1e836c;
}
.python{
    color: #45b29a;
}
.pythondiv{
   text-align: center;
   width: 300px;
   display: inline-block;
   position: relative;
   left: 600px;
   bottom: 50px;
   background-color: white;
    
}
.djangodiv{
    text-align: center;
    width: 300px;
    display: inline-block;
    position: relative;
    left: 350px;
    bottom: 50px;
    background-color: white;
}
.django{
    color: #45b29a;
}
.djangoimage{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    left: 550px;
}

.pydev{
    font-size: 27px;
    text-align: center;
    line-height: 0;
}
.getintouch{
    position: relative;
    left: 665px;
    width: 170px;
    color: #1e836c;
}
.contact-me{
    background-color: white;
}
.master{
    position: relative;
    left:600px;
    width: 330px;
}
.touchcontent{
    width: 300px;
    position: relative;
    left:600px;
}
.btn{
    width: 200px;
    font-size: 15px;
    text-align: center;
    display: block;
    position: relative;
    left:580px;
    background: #45b29a;
    padding: 0.75em 2em 0.75em 3.5em;
    color: #1b7f69;
    text-decoration: none;
    margin: 30px;
    border-radius: 3px;
    font-weight:bold;
    border: 0;
    font-family:"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial
    ,"Lucida Grande",sans-serif;
    text-transform: uppercase;
}
.btn:hover{
    background-color: #72e9cf;
}
.bottom-container{
    
}
.links{
    position: relative;
    left: 550px;
    width: 400px;
    text-align: center;
}
.footer-link{
    display: inline-block;
    position: relative;
    left: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    text-decoration: none;
}
.copyright{
    width:140px;
    margin: auto; 
    margin-top: 10px;
}
.emailicon{
    position: absolute;
    left: 70px;
    width: 20px;
    height: 20px;
}
.linkedin-icon{
   padding-right: 5px;
    width: 20px;
    height: 20px;
}
.instagram-icon{
    padding-right: 5px;
    width: 20px;
    height: 20px;
}
.alldiv{
    position: relative;
    width: 100%;
    height: 100px;
}
.divimg{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    padding-top: 10px;
    
}
.projects{
    text-decoration: none;
    position: absolute;
    margin-top: 50px;
    left: 1250px;
}
.about{
    text-decoration: none;
    position: absolute;
    margin-top: 50px;
    left: 1150px;
}
.topcontainer{
 
}
.certifications{
    text-decoration: none;
    position: absolute;
    margin-top: 50px;
    left: 1350px;
}
.middle{
    width: 100%;
    height: 610px;
    background-color: white;
}